[data-aos="fade-up"] {
  transform: translate3d(0, 20px, 0) !important;
}

[data-aos^="fade"][data-aos^="fade"].aos-animate {
  opacity: 1;
  transform: translateZ(0) !important;
}

[data-aos="fade-right"] {
  transform: translate3d(-40px, 0, 0) !important;
}
[data-aos^="fade"][data-aos^="fade"].aos-animate {
  opacity: 1;
  transform: translateZ(0) !important;
}
[data-aos=zoom-in] {
    transform: scale(.9) !important;
}
[data-aos^=zoom][data-aos^=zoom].aos-animate {
    opacity: 1;
    transform: translateZ(0) scale(1) !important;
}
[data-aos=zoom-out] {
    transform: scale(1.1) !important;
}
[data-aos^=zoom][data-aos^=zoom].aos-animate {
    opacity: 1;
    transform: translateZ(0) scale(1) !important;
}
[data-aos=fade-left] {
    transform: translate3d(60px,0,0) !important;
}
[data-aos^="fade"][data-aos^="fade"].aos-animate {
    opacity: 1;
    transform: translateZ(0) !important;
}
[data-aos=fade-right] {
    transform: translate3d(-60px,0,0) !important;
}
[data-aos^="fade"][data-aos^="fade"].aos-animate {
    opacity: 1;
    transform: translateZ(0) !important;
}