@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary-blue: #21489f;

  /* Font Family */
  --font-roboto: "Roboto", sans-serif;

  /* Breakpoints */
  --breakpoint-xs: 375px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 576px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1280px;
  --breakpoint-3xl: 1536px;
}

body {
  @apply font-roboto;
}
